<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
    <title>Facial Emotion Analyzer</title>
    <script src="{% static 'website/js/form.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3>Facial Emotion Analyzer</h3>
        </div>
        <div class="main-content-home">
            <div class="elements-row full-height">
                <div id="upload-form" class="flex-two margin-round">
                    <a href="{% url 'predict' %}" style="text-decoration: none;">
                        <p class="montserrat-normal">Вернуться к загрузке изображения</p>
                    </a>
                </div>
                <div class="flex-four rect-empty margin-round column-div">
                    {% if processed_image %}
                        <img id="processedImage" src="{{ processed_image }}" alt="Обработанное изображение" class="montserrat-normal">
                    {% endif %}
                </div>
                <div class="probabilities-label flex-four margin-round">
                    <p class="montserrat-normal flex-one">Предсказания</p>
                    {% if probabilities %}
                        <ul class="montserrat-normal flex-six column-div" style="width: 80%;">
                            {% for item in probabilities %}
                                <li class="montserrat-normal rect-empty flex-one li-item">
                                    <p style="margin: 0;">{{ item.class }}:</p> 
                                    <p style="margin: 0;">{{ item.probability }} %</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="navbar">
            <a href="{% url 'history' %}" class="navbar-item-off">
                <p class="half-top-left">История</p>
            </a>
            <a href="{% url 'home' %}" class="navbar-item-off">
                <p class="half-top-left">Главная</p>
            </a>
            <div class="navbar-item-on">
                <p class="half-top-left">Предсказать</p>
            </div>
        </div>
    </div>
</body>
</html>