<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
    <title>Facial Emotion Analyzer</title>
    <script src="{% static 'website/js/form.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h3>Facial Emotion Analyzer</h3>
        </div>
        <div class="main-content-home">
            <div class="elements-row full-height">
                <div id="upload-form" class="flex-two margin-round">
                    <a href="{% url 'predict' %}" style="text-decoration: none;">
                        <p class="montserrat-normal">Вернуться к загрузке изображения</p>
                    </a>
                </div>
                <div class="flex-four rect-empty margin-round column-div">
                    {% if processed_image %}
                        <img src="{{ processed_image }}" alt="Обработанное изображение">
                    {% else %}
                        <img id="processedImage" src=" {% static 'website/images/error_icon.png' %}" alt="Обработанное изображение" class="montserrat-normal" style="width: 35%; height: 40%;">
                    {% endif %}    
                </div>
                <div class="probabilities-label flex-four margin-round">
                    <p class="montserrat-normal flex-one column-div" style="color:crimson;">{{error_message}}</p>
                </div>
            </div>
        </div>
        <div class="navbar">
            <a href="{% url 'history' %}" class="navbar-item-off">
                <p class="half-top-left">История</p>
            </a>
            <a href="{% url 'home' %}" class="navbar-item-off">
                <p class="half-top-left">Главная</p>
            </a>
            <div class="navbar-item-on">
                <p class="half-top-left">Предсказать</p>
            </div>
        </div>
    </div>
</body>
</html>